@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    /*    style="height:10vh"*/
    --height-header:15vh;
    --height-main:65vh;
    --height-footer:10vh;
    --height-nav:10vh;

    /*    style="backgroud-color:#ffAAGG"*/
    --color-header:#1e3a5f;
    --color-nav: #ea580c;;
    --color-main: #f5f0e8;;
    --color-footer:#1e3a5f;
    --color-titulo:white;



}
.boton{
    @apply bg-amber-300 text-5xl
}
